#enhance-su-block {
    border-bottom: 1px solid #e8e9eb;
    padding-bottom: 5px;
}

#enhance-su-block span {
    display: block
}

#enhance-su-block b {
    font-weight: bold;
}

div.accordian div.suggest-edit#enhance-su-auto-address {
    border: 1px solid #c4e6ee;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

#enhance-su-auto-address a, .enhance-su-message-error, .enhance-su-message-warning, #enhance-su-auto-address span {
    font: normal 13px/140% "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif-webkit-body
}

.enhance-su-message-error {
    color: red;
    display: block;
}

.enhance-su-message-warning {
    color: orange;
    display: block;
}

#enhance-su-flag-options select {
    overflow: hidden;
    border: 1px solid #ccc;
    background: transparent;
    color: #999999;
}

div#enhance-su-stats.queueWrapper ul li .userInfo .userStats {
    display: inline !important;
}

#enhance-su-options {
    padding: 15px;
}

#gmaps_api_key {
    width: 260px;
}
