#su-powertools-block {
    border-bottom: 1px solid #e8e9eb;
    padding-bottom: 5px;
}

#su-powertools-block span {
    display: block
}

#su-powertools-block b {
    font-weight: bold;
}

div.accordian div.suggest-edit#su-powertools-auto-address {
    border: 1px solid #c4e6ee;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

#su-powertools-auto-address a, .su-powertools-message-error, .su-powertools-message-warning, #su-powertools-auto-address span {
    font: normal 13px/140% "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif-webkit-body
}

.su-powertools-message-error {
    color: red;
    display: block;
}

.su-powertools-message-warning {
    color: orange;
    display: block;
}

#su-powertools-flag-options select {
    overflow: hidden;
    border: 1px solid #ccc;
    background: transparent;
    color: #999999;
}

div#su-powertools-stats.queueWrapper ul li .userInfo .userStats {
    display: inline !important;
}

#su-powertools-options {
    padding: 15px;
}

#gmaps_api_key {
    width: 260px;
}

#su-powertools-woesets {
    text-align: right;
}

#flag-contents .venueInfo {
    min-height: 180px;
}
